# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Latex temporary
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.loa
*.locode
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.thm
*.toc

code/.debugviewpoint.save
code/build/
code/install/
code/data/objects/*/
code/data/view/

rapport/build
